*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}
textarea,input {
    outline: none;
    border: none;
    -webkit-appearance: none;
}
[class^="icon-"]{
    background: url("../images/home/nav/sprites.png") no-repeat;
    background-size: 200px 200px;
}
img {
    vertical-align: top;
}
body{
    font-size: 12px;
}