*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
ul ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.clearfix::after{
    content:"";
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
    clear: both;
}